.breadcrum .mui-1ajmzs7-MuiTypography-root {
    margin: 0;
    font-family: '__Roboto_a17896','__Roboto_Fallback_a17896';
    font-weight: 400;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}